/* .title {
  font-family: 'Courgette', cursive !important; 
  font-size: 3.5rem !important;
  margin: 0 0 0 10vw !important;
  color: rgb(86, 172, 181) !important;
} */

/* .nav-btn-login { */
  /* color: white !important; */
  /* margin-left: 40vw !important; */
  /* padding: .2rem 1rem !important; */
  /* border-radius: 4rem !important; */
  /* background-color: rgb(86, 172, 181) !important; */
/* } */

/* .nav-btn-signup {
  color: white !important;
  text-decoration: none !important;
  padding: .2rem 1rem !important;
  border-radius: 4rem !important;
  background-color: rgb(86, 172, 181) !important;
} */

/* .ControlledOpenSelect-formControl-115 {
  height: 4rem;
} */

.MuiButton-root-1:hover {
  opacity: .9;
  transform: scale(1.03);
  transition: .2s ease-out;
}



