.app-bar {
  background-color: rgb(26, 121, 89) !important;
}

.title {
  font-family: 'Courgette', cursive !important; 
  font-size: 3rem !important;
  margin: 0 40vw 0 10vw !important;
  color: rgb(86, 172, 181) !important;
}

.navbar-tabs {
  color: rgb(86, 172, 181) !important;
}



