p {
  position:absolute;
  z-index: 1;
  color:rgb(125, 219, 207);
  font-family: 'Courgette', cursive;
  font-size: 3rem;
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  /* opacity: .95; */
  object-fit: cover;
}