img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-started {
  color: white !important;
  position: absolute !important;
  bottom: 4rem !important;
  margin-left: 40vw !important;
  padding: .5rem 6rem !important;
  border-radius: 4rem !important;
  background-color: darkorange !important;
}